<div class="p-4">
    <div class="mb-5 flex align-items-center">
        <p-avatar icon="pi pi-user" size="xlarge" shape="circle" class="mr-3 p-avatar-xl"></p-avatar>
        <div>
            <h1 class="m-0 text-3xl font-bold">{{ userInfo.fullName }}</h1>
            <span class="text-500 text-lg">&#64;{{ userInfo.username }}</span>
        </div>
    </div>

    <p-card styleClass="shadow-2 border-round-xl">
        <ng-template pTemplate="title">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center mb-2">
                <span class="text-2xl">Información del Usuario</span>
                <div class="flex gap-3 mt-3 md:mt-0">
                    <p-button label="Editar Perfil" icon="pi pi-user-edit" styleClass="p-button-outlined"
                        (onClick)="openEditDialog()"></p-button>
                    <p-button label="Dar de Baja" icon="pi pi-trash" severity="danger"
                        (onClick)="deleteAccount()"></p-button>
                </div>
            </div>
        </ng-template>
        <div class="grid mt-2">
            <div class="col-12 md:col-6 mb-3">
                <p-fieldset legend="Nombre Completo" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.fullName }}</span>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-6 mb-3">
                <p-fieldset legend="Usuario" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.username }}</span>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-6 mb-3">
                <p-fieldset legend="Correo Electrónico" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.email }}</span>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-6 mb-3">
                <p-fieldset legend="Dirección" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.address }}</span>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-4 mb-3">
                <p-fieldset legend="Fecha de Nacimiento" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.birthDate }}</span>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-4 mb-3">
                <p-fieldset legend="Edad" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.age }} años</span>
                </p-fieldset>
            </div>
            <div class="col-12 md:col-4 mb-3">
                <p-fieldset legend="Teléfono" styleClass="h-full">
                    <span class="block text-900 text-xl font-semibold">{{ userInfo.phone }}</span>
                </p-fieldset>
            </div>
        </div>
    </p-card>

    <!-- Edit Profile Dialog Form -->
    <p-dialog [(visible)]="editDialogVisible" [style]="{width: '600px'}" header="Actualizar Datos del Perfil"
        [modal]="true" styleClass="p-fluid shadow-6" [dismissableMask]="true">
        <ng-template pTemplate="content">
            <form [formGroup]="editForm" class="p-3">

                <div class="field mb-4">
                    <label for="fullName" class="font-bold mb-2 block">Nombre Completo</label>
                    <input type="text" pInputText id="fullName" formControlName="fullName" class="w-full p-3"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('fullName')?.errors}" />
                    <small class="p-error block mt-2" *ngIf="submitted && editForm.get('fullName')?.errors">El nombre es
                        requerido.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="username" class="font-bold mb-2 block">Usuario</label>
                        <input type="text" pInputText id="username" formControlName="username" class="w-full p-3"
                            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('username')?.errors}" />
                        <small class="p-error block mt-2" *ngIf="submitted && editForm.get('username')?.errors">El
                            usuario es requerido.</small>
                    </div>
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="phone" class="font-bold mb-2 block">Teléfono</label>
                        <input type="text" pInputText id="phone" formControlName="phone" class="w-full p-3"
                            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('phone')?.errors}" />
                        <small class="p-error block mt-2"
                            *ngIf="submitted && editForm.get('phone')?.hasError('required')">El teléfono es
                            requerido.</small>
                        <small class="p-error block mt-2"
                            *ngIf="submitted && editForm.get('phone')?.hasError('pattern')">Debe contener exactamente 10
                            numéros.</small>
                    </div>
                </div>

                <div class="field mb-4">
                    <label for="email" class="font-bold mb-2 block">Correo Electrónico</label>
                    <input type="email" pInputText id="email" formControlName="email" class="w-full p-3"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('email')?.errors}" />
                    <small class="p-error block mt-2"
                        *ngIf="submitted && editForm.get('email')?.hasError('required')">El correo es requerido.</small>
                    <small class="p-error block mt-2"
                        *ngIf="submitted && editForm.get('email')?.hasError('email')">Formato de correo
                        inválido.</small>
                </div>

                <div class="field mb-4">
                    <label for="address" class="font-bold mb-2 block">Dirección</label>
                    <input type="text" pInputText id="address" formControlName="address" class="w-full p-3"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('address')?.errors}" />
                    <small class="p-error block mt-2" *ngIf="submitted && editForm.get('address')?.errors">La dirección
                        es requerida.</small>
                </div>

                <div class="field mb-4">
                    <label for="birthDate" class="font-bold mb-2 block">Fecha de Nacimiento</label>
                    <input type="date" pInputText id="birthDate" formControlName="birthDate" class="w-full p-3"
                        [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('birthDate')?.errors}" />
                    <small class="p-error block mt-2" *ngIf="submitted && editForm.get('birthDate')?.errors">La fecha de
                        nacimiento es requerida.</small>
                </div>

                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="password" class="font-bold mb-2 block">Contraseña para Confirmar</label>
                        <p-password id="password" formControlName="password" [toggleMask]="true" styleClass="w-full"
                            inputStyleClass="w-full p-3"
                            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.get('password')?.errors}"></p-password>
                        <small class="p-error block mt-2"
                            *ngIf="submitted && editForm.get('password')?.hasError('required')">Contraseña
                            requerida.</small>
                        <small class="p-error block mt-2"
                            *ngIf="submitted && editForm.get('password')?.hasError('minlength')">Mínimo 6
                            caracteres.</small>
                    </div>
                    <div class="field col-12 md:col-6 mb-4">
                        <label for="confirmPassword" class="font-bold mb-2 block">Repetir Contraseña</label>
                        <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true"
                            [feedback]="false" styleClass="w-full" inputStyleClass="w-full p-3"
                            [ngClass]="{'ng-invalid ng-dirty': submitted && editForm.errors?.['mismatch']}"></p-password>
                        <small class="p-error block mt-2" *ngIf="submitted && editForm.errors?.['mismatch']">Las
                            contraseñas no coinciden.</small>
                    </div>
                </div>

            </form>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="flex justify-content-center gap-3 pt-4 pb-2 w-full">
                <p-button label="Cancelar" icon="pi pi-times" [text]="true" (onClick)="hideDialog()"
                    styleClass="p-button-secondary px-5 py-2"></p-button>
                <p-button label="Actualizar Datos" icon="pi pi-check" (onClick)="saveProfile()"
                    styleClass="p-button-primary px-5 py-2"></p-button>
            </div>
        </ng-template>
    </p-dialog>
</div>